## Date 13June2019

# Day Objectives

**Practice set Problems**

- Alternate values in a range
- Reverse of a given range
- Odd numbers in reverse order
- Sum of no.s in a range
- Average of a given range
- Generate Leap year in a time period range
- No. of days in a range of time period
- No. of hours in a time period

## Tasks

- Average of all factorials in a range
- Armstrong number
- Multiplication table formation

In [1]:
#Function to print the alternate values in a range in the same line
# In mathematics, [500, 550] -> 500 502 504 .......... 550
# (500, 550) -> 501 503 505 .......... 549
# In Python, range(500,550) -> 500 501 502 ...... 549
# All set based functions in Python have start value inclusive and end value exclusive

def alternateValues(start, end):
    for value in range(start, end+1, 2):
        print(value, end=" ")
    return

alternateValues(500,550)

500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550

In [2]:
# Function to print reverse of given range in the same line

def reverseValues(lb, ub):
    for i in range(ub, lb-1, -1):
        print(i, end = " ")

reverseValues(1,15)

15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [3]:
# Function to print the odd numbers in reverse order in a range

def oddReverse(start,end):
    for i in range(end, start-1, -1):
        if(i%2!=0):
            print(i, end=" ")

oddReverse(1,20)

19 17 15 13 11 9 7 5 3 1

In [4]:
# Function to calculate the sum of numbers in a range

def sumNumbers(lb,ub):
    sum = 0
    for i in range(lb,ub+1):
        sum=sum+i
    print(sum)

sumNumbers(1,100)

# (100*101/2 - 1*2/2) = sum

5050

In [5]:
#Function to calculate the average of a given range
# (1,5) -> 3
def avg(lb,ub):
    sum = 0
    #count = 0
    for i in range(lb, ub+1):
        sum = sum + i
        #count = count + 1
        a = sum/(ub-lb+1) #count
    return a
    
avg(1,5)

3.0

In [6]:
# Function to generate the leap years in a given time period 
# (2000, 2020) -> 2000 2004 2008 2012 2016 2020

#''''def leapyear(lb,ub):
#    for i in range(lb,ub+1):
#        if(i % 400 == 0 or (i % 100 != 0 and i % 4 == 0)):
#            print(i, end = " ")
#    return
#leapyear(1900,2021)''''

def isLeapYear(year):
    if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
        return True
    return False

def generateLeapYears(start, end):
    for i in range(start,end+1):
        if isLeapYear(i):
            print(i, end=" ")
    return
generateLeapYears(1919,2020)

1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020

In [7]:
# Calculate number of days in a given time period using leapyear logic
# For every year in the given time period, if the year
def totdaysyear(start, end):
    sum=0
    for i in range(start, end+1):
        if isLeapYear(i):
            sum = sum + 366
        else:
            sum = sum + 365
    return sum

totdaysyear(2000,2020)

7671

In [8]:
# Function to calculate number of hours for a given period in the format(month1, year1, month2, year2)
# (07, 1994, 09, 1995) -> 
#(5, 2019, 6, 2019) -> 1464 (61* 24)
#(11, 1975, 3, 1999) -> 205248
# 2, 2016, 6, 2019
#No of hours = 24 * No of days
# 3 steps
    # 1. Start month year to end of year - calculate no. of days
    # 2. Calculate days for all years b/w start year and end year exclusive
            # 2017, 2018 - 365 * No of years
    # 3. Calculate days from Jan to end month year
    
# Excluding Feb
  
def numberOfDaysMonth(month, year):
    if month == 2:
        if isLeapYear(year):
            return 29
        return 28
    elif (month <= 7 and month % 2!= 0) or (month >= 8 and month % 2 == 0):
        return 31
    else:
        return 30

def daysInStartYear(startmonth, startyear):
    days = 0 
    for month in range(startmonth, 13):
        days += numberOfDaysMonth(month, startyear)
    return days    

def daysInEndYear(endmonth, endyear):
    days = 0
    for month in range(1, endmonth+1):
        days += numberOfDaysMonth(month, endyear)
    return days

def numberOfHours(startmonth, startyear, endmonth, endyear):
    days = 0
    if startyear != endyear:
        days += daysInStartYear(startmonth, startyear)
        days += daysInEndYear(endmonth, endyear)
        if endyear - startyear == 2: # 2019 - 2017
            days += numberOfDays(startyear+1, startyear+1)
        elif endyear - startyear > 2:
            days += numberOfDays(startyear+1, endyear-1)
    else:
        for month in range(startmonth, endmonth+1):
            days += numberOfDaysMonth(month, startyear)
    return 24 * days

numberOfHours(6, 2018, 7, 2018)

1464

# Tasks

In [3]:
# Function to calculate average of all factorials in a given range

def fact(n):
    f=1
    for i in range(1,n+1):
        f = f*i
    return f

def factavg(lb,ub):
    sum = 0
    count = 1
    for i in range(lb,ub+1):
        if fact(i):
            sum = sum + fact(i)
            count = count + 1
    return sum/count
    

factavg(1,10)

367083.0

In [13]:
# Armstrong number

def armstrong(n):
    sum = 0
    temp = n
    while temp > 0:
        rem= temp % 10
        sum+= rem ** 3
        temp//= 10
    if n == sum:
        print(n,"is an Armstrong number")
    else:
        print(n,"is not an Armstrong number")
        
armstrong(153)

153 is an Armstrong number

In [3]:
# Table formation

def mul(a):
    for i in range(1,a+1):
        for j in range(1, 10+1):
            print(j, "x", i, "=", i*j)
            

mul(2)

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20